*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    box-sizing: border-box;
}

body {
    display:grid;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding:0;
    background-color: #0b0c10; 
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    'menu header header'
    'menu content sidebar';
}

.header,.menu,.content,.sidebar{
        padding:25px;
}

.header{
    grid-area: header;
    background-color: #1f2833;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'search profile'
    'greeting buttons';
    gap:5px;
}

.header>div{
    display: flex;
    align-items: center;
}

.search{
    grid-area: search;
    
}

.search > button{
    padding: 5px;
    background-color:#45a29e;
    border:2px solid antiquewhite;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.search input{
    background-color: antiquewhite;
    width:50%;
    font-size: larger;
    border-radius: 6px;
    margin: 0 10px;
    color:#1f2833;
    padding:5px;
}

.profile{
grid-area: profile;
}

.profile-pic{
    border-radius: 100%;
}

#sm-profile{
    width:50px;
    height: 50px;
    margin:0 2em;
}

#lg-profile{
    width:100px;
    height: 100px;    
    margin: 0 10px;
}

.greeting{
grid-area: greeting;
}

.header-btns{
grid-area: buttons;
}

.header-btns button{
    width:5em;
    height: 2.5em;
    margin-right:3em;
    padding: .2em;
    font-weight: 700;
    font-size: large;
    
    background-color: transparent;
    color:#66fcf1;
   
    border-radius: .25em;
    border:.125em solid antiquewhite;
  
    /* more neon code. Maybe one day
     text-shadow: 0 0 .5em #66fcf1;  
     position:relative;    
     box-shadow: inset 0 0 .5em white,0 0 .5em white;
    */
}

.header-btns button:hover{
    cursor: pointer;
    background:#45a29e;
    color: antiquewhite;
}

/* I didn't like the neon so I'm removing it but here is the code

.header-btns button::before{
    pointer-events: none;
    content:"";
    position: absolute;
    background: #66fcf1;    
    top: 110%;
    left: 0;
    width: 100%;
    height: 100%;
    transform:perspective(3em) rotateX(40deg) scale(1,0.35);
    filter:blur(1em);
}

.header-btns button:after{
    content:'';
    position: absolute;
    box-shadow: 0 0 2em .5em #66fcf1;
    opacity: 0;
    transition: opacity 100ms linear;
}

.header-btns button:hover, .header-btns button:focus{
    background: #66fcf1;
    color: #45a29e;
    text-shadow: none;
}

.header-btns button:hover::after{
    opacity: 1;
}

*/

.menu{
    grid-area: menu;
    background-color: #45a29e;
    color:white;
}

.menu>h1{
    display: flex;
    align-items: center;
}

.menu ul{
    list-style-type: none;
    margin-bottom:50px;
}

.menu li{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: large;
    display:flex;
    align-items: center;
}

.menu li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.menu img{
    margin-right:8px;
    height:25px;
    width:25px;
}

#dash-pic{
    width: 40px;
    height: 40px;
}

.content{
    grid-area: content;
    background-color: #0b0c10;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 15px;
}

.card{
    display: flex;
    flex-flow: column nowrap;
    background-color:#1f2833;
    border-left:15px solid #66fcf1;
    border-radius: 5px;
    margin:5px;
    padding:5px 10px;
    transition: .3s;
}

/* goal here is to make pop up appear over card content with a link/preview
to see the project web page */
.card:hover{
    border-left:18px solid #66fcf1;
    border-color: rgb(255, 177, 190);
}

.card::before{
    content: '';
}

.card:hover::before{
    content: '';
}

.card-title, .sidebar>h2,.sidebar h3{
    font-size: medium;
}

.card-text, .sidebar p{
    font-size: medium;
}

.card-links{
    margin-top: auto;
    list-style-type:none;
}

.card-links img{
    width:25px;
    height:25px;
    float: right;
}

.card-links img:hover{
    cursor: pointer;
    transform: scale(1.6,1.6);
    filter:sepia();
}


.sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-columns: minmax(100px,1fr);
    grid-template-rows: .5fr 5fr .5fr 5fr;
    gap:15px;
    background-color:#0b0c10;
}

.sidebar > div{
    background-color: #1f2833;
    border: 4px solid #66fcf1;
    padding: 15px;
    margin: 5px;
    overflow-y: scroll;
}

hr{
    width:85%;
}

.sidebar h2{
    margin-bottom:-10px;
    text-decoration: underline;
    padding: 0;
}